.search-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .search-bar input[type="text"],
  .search-bar select {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #ccc;
  }
  
  .search-bar button {
    margin: 0.5rem;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: none;
    background-color: #007bff;
    color: #fff;
  }
  
  .search-bar button:hover {
    background-color: #0069d9;
  }
  
  .search-filters {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }
  
  .checkbox-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 0.5rem;
  }
  
  .checkbox-container input[type="checkbox"] {
    margin-right: 0.25rem;
  }
  